// banner-header | Bannière d'en-tête
.Banner-header {
  background: var(--bg-color-light);
  &.has-illustration {
    background-image: url("/themes/central-beignets/illustrations/dot.svg");
  }
  .container-zone {
    padding-top: calc($hundredpx + $fiftypx);
    position: relative;
    .text-content {
      text-align: center;
      width: 60%;
      margin: 0 auto;
      h1 {
        color: var(--black-light);
        strong {
          font-weight: inherit;
          color: var(--bg-color-classic);
        }
      }
    }
    &.has-big-banner {
      @include auto-grid(2, 2, 1, 1);
      .text-content {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: $twenty-fivepx;
        h1 {
          @include big-h1;
          max-width: 70%;
          color: var(--bg-color-dark);
          strong {
            font-weight: inherit;
            color: var(--bg-color-classic);
          }
        }
        .description {
          max-width: 85%;
        }
        .buttons-zone {
          display: flex;
          gap: $sixteenpx;
          .rect-button {
            background: var(--white-light);
            &.has-order-button {
              display: flex;
              align-items: center;
              border: none;
              background: var(--bg-color-classic);
              color: var(--white-light);
              i {
                margin-left: $tenpx;
                transition: 0.3s ease-in-out;
              }
              &:hover {
                background: var(--bg-color-dark);
                color: var(--white-light);
              }
              &:active {
                i {
                  transform: translateX($tenpx);
                }
              }
            }
            &.default-button {
              background: var(--white);
              transition: border 0.3s ease-in-out, background 0.3s ease-in-out,
                transform 0.2s ease, filter 0.2s ease;
              &:hover {
                background: var(--white-light);
                border: 1px dotted var(--bg-color-classic);
              }
              &:active {
                filter: brightness(0.98);
                transform: scale(0.98);
              }
            }
          }
        }
      }
      .cover-images-zone {
        @include flex-center;
        position: relative;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 45%;
          left: 48%;
          transform: translate(-50%, -50%);
          width: 380px;
          height: 380px;
          background: var(--bg-color-50);
          border-radius: 50%;
          z-index: -1;
        }
        .cover-image {
          background: var(--white-light);
          width: 55%;
          padding: $twenty-fivepx;
          aspect-ratio: 1/1;

          animation: float 5s ease-in-out infinite;
        }
      }
    }
  }
}
