// call-to-action-button | Bouton d'appel à l'action
.Call-to-action-button {
  background: var(--white-light);
  .container-zone {
    .label {
      @include classic-label;
      color: var(--bg-color-classic);
    }
    h2 {
      @include alternative-h2;
      color: var(--bg-color-dark);
    }
  }
}
