// partners-list | Liste des partenaires
.Partners-list {
  background: var(--white);
  .label {
    @include classic-label;
    color: var(--bg-color-classic);
  }

  h2 {
    color: var(--bg-color-dark);
  }

  a {
    display: flex;
  }
}

// Responsive
@media screen and (max-width: 1640px) {
  .Partners-list {
  }
}
@media screen and (max-width: 1250px) {
  .Partners-list {
  }
}
@media screen and (max-width: 768px) {
  .Partners-list {
  }
}
