footer {
  background: var(--white-light);
  .container-zone {
    display: flex;
    flex-direction: column;
    font-size: $fourteenpx;
    padding: 0 $fiftypx;

    .top {
      @include auto-grid(4, 4, 2, 1);
      padding-block: $fiftypx $thirty-twopx;
      gap: $thirty-twopx;
      .logo,
      h3 {
        margin-bottom: $sixteenpx;
      }
      .products,
      .informations,
      .contact {
        display: flex;
        flex-direction: column;
        ul {
          display: flex;
          flex-direction: column;
          gap: $twelvepx;
        }
        .toggle-theme {
          @include classic-flex-center;
          @include small-radius;
          margin-top: auto;
          width: $thirtypx;
          height: $thirtypx;
          font-size: small;
          cursor: pointer;
          background: var(--black);
          color: var(--white-light);
          transition: 0.7s ease-out;
          .fa-sun {
            display: none;
          }
          &.is-dark {
            transition: 0.7s ease-out;
            .fa-moon {
              display: none;
            }
            .fa-sun {
              display: block;
            }
          }
          &:hover {
            opacity: 0.8;
            transform: rotate(7deg);
            &.is-dark {
              transform: rotate(-7deg);
            }
            &:active {
              transform: rotate(-180deg);
              &.is-dark {
                transform: rotate(180deg);
              }
              transition: transform;
              .fa-sun,
              .fa-moon {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .social {
        .social-networks {
          display: flex;
          font-size: $twentypx;
          gap: $sixteenpx;
          margin-top: $sixteenpx;
        }
      }
    }
    .bottom {
      padding-block: $thirty-twopx;
      border-top: 1px solid var(--border-color);
      text-align: center;
    }
  }
}

@media (max-width: 1250px) {
  footer {
    .container-zone {
      .top {
        .toggle-theme {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 678px) {
  footer {
    .container-zone {
      padding-inline: $sixteenpx;
      .top {
        .toggle-theme {
          margin-left: unset;
          margin-top: $thirty-twopx !important;
        }
      }
    }
  }
}
