footer {
  background: var(--bg-original-light);
  transition: 0.2s ease-in;
  .container-zone {
    @include section-padding-inline;
    display: flex;
    flex-direction: column;
    font-size: $fourteenpx;

    .top {
      @include auto-grid(4, 4, 2, 1);
      padding-block: $fiftypx $thirty-twopx;
      gap: $thirty-twopx;
      line-height: 1.5;
      .legals-links {
        order: 3;
      }
      .logo-and-description {
        .logo {
          font-size: 1.3rem;
          .dot {
            height: $fourpx;
            width: $fourpx;
          }
          &::after {
            bottom: 0;
          }
          &:hover {
            .dot {
              transform: translateY(calc(($fourpx / 3 + $fourpx) * -1));
            }
          }
        }
        .description {
          width: 80%;
        }
      }
      .logo,
      h3 {
        margin-bottom: $sixteenpx;
        user-select: none;
      }
      i {
        color: var(--bg-color-classic);
        font-style: normal;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: $fourteenpx;
        li {
          a {
            &:hover {
              color: var(--bg-color-classic);
              text-decoration: none;
            }
          }
          &.location {
            &::selection {
              background: var(--bg-color-classic);
              color: var(--white-light);
            }
          }
        }
      }
    }
    .bottom {
      padding-block: $thirty-twopx;
      border-top: 1px solid
        color-mix(in srgb, var(--bg-color-classic), var(--white-light) 60%);
      text-align: center;
    }
  }
}

@media (max-width: 1250px) {
  footer {
    .container-zone {
      .top {
        .toggle-theme {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 678px) {
  footer {
    .container-zone {
      padding-inline: $sixteenpx;
      .top {
        .toggle-theme {
          margin-left: unset;
          margin-top: $thirty-twopx !important;
        }
      }
    }
  }
}
