body > header {
  @include classic-flex-center;
  background: var(--white-light);
  color: var(--black);
  backdrop-filter: blur(2px);
  position: fixed;
  inset: 0;
  height: 5rem;
  box-shadow: $shadow;
  z-index: 10;
  transition: 0.2s ease-in;
  .container-zone {
    @include section-padding-inline;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-weight: $weight-bold;
    }
    nav {
      display: flex;
      align-items: center;
      gap: $thirty-twopx;
      .main-menu {
        display: flex;
        gap: $thirty-twopx;
        a {
          font-weight: $weight-medium;
          transition: 0.3s ease;

          &:hover {
            text-decoration: none;
            color: var(--bg-color-classic);
            opacity: 0.8;
          }
          &[aria-current="page"] {
            color: var(--bg-color-classic);
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .order-now {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $thirty-twopx;
        button {
          position: relative;
          font-size: medium;
          border-radius: 0.4rem;
          padding: $sevenpx $sixteenpx;
          background: var(--bg-color-classic);
          color: var(--white-light);
          border: 1px solid transparent;
          cursor: pointer;
          z-index: 1;
          transition: 0.3s ease;

          i {
            margin-right: $fivepx;
            font-size: small;
          }
          &:hover {
            background: var(--white-light);
            color: var(--bg-color-classic);
            border: 1px solid var(--bg-color-classic);
          }
        }
        .choices {
          position: absolute;
          left: 0;
          top: -50%;
          display: flex;
          flex-direction: column;
          font-size: small;
          opacity: 0;
          background: color-mix(
            in srgb,
            var(--bg-color-light),
            var(--white-light)
          );
          padding: $tenpx;
          border-radius: 0.2rem;
          &.active {
            animation: fadeIn 0.3s linear forwards;
            opacity: 1;
          }
          a {
            display: flex;
            align-items: center;
            i {
              margin-right: $fivepx;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  body > header {
    .container-zone {
    }
  }
}

@media (max-width: 678px) {
  body > header {
    .container-zone {
    }
  }
}
