// call-to-action-button | Bouton d'appel à l'action
.Call-to-action-button {
  .container-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .call-to-action-button {
      width: 100%;
      border-radius: 12px;
      padding: $fiftypx;
      background: linear-gradient(
        to left,
        var(--bg-color-dark),
        var(--bg-color-classic)
      );
      color: var(--white-light);

      h2 {
        color: var(--white-light);
        margin: 0;
      }

      .description {
        color: var(--white-light);
        font-weight: $weight-medium;
      }

      .button-zone {
        margin: $fiftypx auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $sixteenpx;
        text-align: center;
        .rect-button {
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.3s ease;
          &.has-order-button {
            background: var(--white-light);
            color: var(--bg-color-dark);
            &:hover {
              transform: scale(1.02);
            }
            &:active {
              transform: scale(0.98);
            }
          }
          &.default-button {
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: var(--white-light);
              position: absolute;
              top: 100%;
              left: 0;
              z-index: -1;
              transition: 0.3s ease;
            }
            &:hover {
              color: var(--bg-color-dark);
              &::after {
                top: 0;
              }
            }
            &:active {
              color: var(--white-light);
              &::after {
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .Call-to-action-button {
    .container-zone {
      .call-to-action-button {
        padding: $twenty-fourpx $sixteenpx;
        gap: 0;
        .button-zone {
          margin-top: 2rem;
          gap: $tenpx;
          flex-direction: column;
        }
      }
    }
  }
}
