// Signature Sequane
@font-face {
  font-family: "Monologue-Sequane";
  src: url("../../../themes/newaf/fonts/signature/Monologue/Monologue-Sequane.eot");
  src: url("../../../themes/newaf/fonts/signature/Monologue/Monologue-Sequane.woff2")
      format("woff2"),
    url("../../../themes/newaf/fonts/signature/Monologue/Monologue-Sequane.woff")
      format("woff"),
    url("../../../themes/newaf/fonts/signature/Monologue/Monologue-Sequane.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Sequane";
  src: url("../../../themes/newaf/fonts/signature/Poppins/Poppins-Regular.eot");
  src: url("../../../themes/newaf/fonts/signature/Poppins/Poppins-Regular.woff2")
      format("woff2"),
    url("../../../themes/newaf/fonts/signature/Poppins/Poppins-Regular.woff")
      format("woff"),
    url("../../../themes/newaf/fonts/signature/Poppins/Poppins-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
