@mixin classic-section {
  padding-block: $hundredpx;
}

// BUTTON
@mixin classic-button-font-size {
  font-size: $twentypx;
  @media screen and (max-width: 1640px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 678px) {
    font-size: $sixteenpx;
  }
}
@mixin classic-button {
  @include classic-button-font-size;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-weight: $weight-light;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 27px;
  border-radius: $fiftypx;
  padding: $twelvepx $thirtypx;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s ease;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: 0.4s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    color: #222222;
    &::after {
      left: 50%;
    }
  }
}

@mixin big-button-font-size {
  font-size: $thirtypx;
  @media screen and (max-width: 1640px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 678px) {
    font-size: $thirtypx;
  }
}
@mixin big-button {
  @include big-button-font-size;
  text-decoration: none;
  font-weight: $weight-lighter;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  line-height: 41px;
  border-radius: $fiftypx;

  padding: $twentypx;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
  }
}

// LABEL
@mixin classic-label-font-size {
  font-size: $twenty-threepx;
  @media screen and (max-width: 1640px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin classic-label {
  @include classic-label-font-size;
  font-weight: $weight-thin;
  text-transform: uppercase;
  letter-spacing: 0.69px;
  line-height: 31px;
}

@mixin big-label-font-size {
  font-size: $fourtypx;
  @media screen and (max-width: 1640px) {
    font-size: $fourtypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin big-label {
  @include big-label-font-size;
  font-weight: $weight-semibold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 82px;
}

// H1
@mixin classic-h1-font-size {
  font-size: $fourtypx;
  @media screen and (max-width: 1640px) {
    font-size: $fourtypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirty-twopx;
  }
  @media screen and (max-width: 678px) {
    font-size: calc($twenty-fivepx - $twopx);
  }
}

@mixin classic-h1 {
  @include classic-h1-font-size;
  line-height: 56px;
  font-weight: $weight-bold;
  text-transform: uppercase;
  @media screen and (max-width: 1640px) {
  }
  @media screen and (max-width: 1250px) {
    line-height: 40px;
    margin-bottom: $thirtypx;
  }
  @media screen and (max-width: 678px) {
    line-height: 32px;
    margin-bottom: $twenty-fourpx;
  }
}

@mixin alternative-h1-font-size {
  font-size: $thirty-fourpx;
  @media screen and (max-width: 1640px) {
    font-size: $thirty-fourpx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $twenty-fivepx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin alternative-h1 {
  @include alternative-h1-font-size;
  line-height: 38px;
  font-weight: $weight-bold;
}

// H2
@mixin classic-h2-font-size {
  font-size: $fourtypx;
  @media screen and (max-width: 1640px) {
    font-size: $thirty-sixpx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $twenty-fivepx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin classic-h2 {
  @include classic-h2-font-size;
  letter-spacing: 1.2px;
  line-height: 54px;
  font-weight: $weight-semibold;
  margin-block: $sixteenpx;
  text-transform: uppercase;
  strong {
    @include big-h2;
  }
}

@mixin alternative-h2-font-size {
  font-size: $fiftypx;
  @media screen and (max-width: 1640px) {
    font-size: $fiftypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin alternative-h2 {
  @include alternative-h2-font-size;
  line-height: 64px;
  letter-spacing: 1.5px;
  font-weight: $weight-bold;
  margin-block: $sixteenpx;
  text-transform: uppercase;
}

@mixin big-h2-font-size {
  font-size: $sixtypx;
  @media screen and (max-width: 1640px) {
    font-size: $sixtypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin big-h2 {
  @include big-h2-font-size;
  line-height: 32px;
  font-weight: $weight-bold;
  margin-block: $sixteenpx;
  text-transform: uppercase;
}

@mixin mega-h2-font-size {
  font-size: $eightypx;
  @media screen and (max-width: 1640px) {
    font-size: $eightypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin mega-h2 {
  @include mega-h2-font-size;
  letter-spacing: 2.4px;
  line-height: 95px;
  font-weight: $weight-bold;
  margin-block: $sixteenpx;
  text-transform: uppercase;
}

// H3
@mixin classic-h3-font-size {
  font-size: $twentypx;
  @media screen and (max-width: 1640px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $eighteenpx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin classic-h3 {
  @include classic-h3-font-size;
  line-height: 32px;
  font-weight: $weight-semibold;
  text-transform: uppercase;
}

// BODY
@mixin classic-body-font-size {
  font-size: $twentypx;
  @media screen and (max-width: 1640px) {
    font-size: $eighteenpx;
  }
  @media screen and (max-width: 1250px) {
  }
  @media screen and (max-width: 678px) {
    font-size: $sixteenpx;
  }
}
@mixin classic-body {
  @include classic-body-font-size;
  background: var(--body-bg-color);
  color: var(--body-text-color);
  letter-spacing: 0.6px;
  line-height: 27px;
  font-weight: $weight-light;
  strong {
    font-weight: $weight-semibold;
  }
  @media screen and (max-width: 1640px) {
    line-height: 27px;
  }
  @media screen and (max-width: 1250px) {
    line-height: 25px;
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin alternative-body-font-size {
  font-size: $twentypx;
  @media screen and (max-width: 1640px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 1250px) {
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin alternative-body {
  @include alternative-body-font-size;
  line-height: 24px;
}

@mixin big-body-font-size {
  font-size: $thirty-twopx;
  @media screen and (max-width: 1640px) {
    font-size: $thirtypx;
  }
  @media screen and (max-width: 1250px) {
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin big-body {
  @include big-body-font-size;
  line-height: 24px;
}

@mixin classic-logo-font-size {
  font-size: $twenty-fourpx;
}

@mixin classic-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;
  @media screen and (max-width: 1640px) {
    max-width: 1700px;
  }
  @media screen and (max-width: 1250px) {
    max-width: 100%;
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin alternative-section-padding {
  padding: 0 calc($hundredpx + $fourtypx);
}

@mixin classic-apply-color($type, $color-name, $color) {
  .#{$type}-#{$color-name} {
    @if $type == "bg" {
      background-color: $color;
      @if (
        $color-name ==
          "black" or
          $color-name ==
          "color1" or
          $color-name ==
          "color1-light" or
          $color-name ==
          "color4"
      ) {
        color: var(--white);
      }
    }
  }
}

@mixin classic-grid($columns: 4, $gap: $thirty-twopx) {
  display: grid;
}

@mixin classic-header-logo-font-size {
  font-size: $twentypx;
  @media screen and (max-width: 1640px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $twentypx;
  }
  @media screen and (max-width: 678px) {
  }
}
@mixin classic-header-logo {
  @include classic-header-logo-font-size;
  font-weight: $weight-bold;
}

@mixin classic-header-nav-font-size {
  font-size: $sixteenpx;
  @media screen and (max-width: 1640px) {
    font-size: $sixteenpx;
  }
  @media screen and (max-width: 1250px) {
    font-size: $sixteenpx;
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin classic-header-nav {
  @include classic-header-nav-font-size;
}

@mixin classic-tag-font-size {
  font-size: $fourteenpx;
  @media screen and (max-width: 1640px) {
    font-size: $fourteenpx;
  }
  @media screen and (max-width: 1250px) {
  }
  @media screen and (max-width: 678px) {
  }
}

@mixin classic-tag {
  @include classic-tag-font-size;
  padding: $fourpx $twelvepx;
  display: block;
  width: max-content;
  max-width: 100%;
  border-radius: $hundredpx;
  font-weight: $weight-medium;
  background: var(--grey-1);
  color: var(--black);
  user-select: none;
}

@mixin classic-item {
  display: flex;
  background: var(--white);
  padding: $twenty-fourpx;
  border-radius: $twelvepx;
  box-shadow: $shadow;
  transition: 0.3s ease-in-out;
}

@mixin classic-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: $fourtypx;
  height: $fourtypx;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

@mixin classic-limited-text($maxLine: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $maxLine; // Limite le texte à $maxLine lignes
  -webkit-box-orient: vertical; // Orientation verticale
}

@mixin classic-input {
  .label-title {
    display: flex;
    font-size: small;
    cursor: pointer;
  }
  .input-wrapper {
    position: relative;
    width: 100%;
    margin-top: $eightpx;

    .icon {
      // Icon
      position: absolute;
      width: $sixteenpx;
      top: 50%;
      left: $sixteenpx;
      transform: translateY(-50%);
      color: var(--grey-1);
    }
  }
  input,
  &.submit-button {
    width: 100%;
    background: unset;
    padding: $fourteenpx $thirty-eightpx;
    border: 1px solid var(--border-color);
    border-radius: $eightpx;
    &:focus-visible {
      outline: 2px solid var(--grey-2);
      outline-offset: 2px;
    }
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@mixin classic-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin auto-grid(
  $big-screen-columns,
  $desktop-columns,
  $tablet-columns,
  $mobile-columns
) {
  display: grid;
  grid-template-columns: repeat($big-screen-columns, minmax(0, 1fr));
  @media screen and (max-width: 1640px) {
    grid-template-columns: repeat($desktop-columns, minmax(0, 1fr));
  }
  @media screen and (max-width: 1250px) {
    grid-template-columns: repeat($tablet-columns, minmax(0, 1fr));
  }
  @media screen and (max-width: 678px) {
    grid-template-columns: repeat($mobile-columns, minmax(0, 1fr));
  }
}

@mixin section-margin-inline {
  margin-inline: calc(2 * $hundredpx + $twenty-sixpx);
  @media screen and (max-width: 1640px) {
    margin-inline: calc($hundredpx + $fourtypx);
  }
  @media screen and (max-width: 1250px) {
    margin-inline: calc($hundredpx + $fourtypx);
  }
  @media screen and (max-width: 678px) {
    margin-inline: calc($hundredpx + $fourtypx);
  }
}

@mixin section-margin-block {
  margin-block: $hundredpx;
  @media screen and (max-width: 1640px) {
    margin-block: $hundredpx;
  }
  @media screen and (max-width: 1250px) {
    margin-block: $hundredpx;
  }
  @media screen and (max-width: 678px) {
    margin-block: $hundredpx;
  }
}

@mixin section-padding-inline {
  padding-inline: $fiftypx;
  @media screen and (max-width: 1640px) {
    padding-inline: $fiftypx;
  }
  @media screen and (max-width: 1250px) {
    padding-inline: $fiftypx;
  }
  @media screen and (max-width: 678px) {
    padding-inline: $sixteenpx;
  }
}
@mixin section-padding-block {
  padding-block: $hundredpx;
  @media screen and (max-width: 1640px) {
    padding-block: $hundredpx;
  }
  @media screen and (max-width: 1250px) {
    padding-block: $hundredpx;
  }
  @media screen and (max-width: 678px) {
    padding-block: $hundredpx;
  }
}

@mixin classic-shadow {
}

@mixin small-radius($radius: $sevenpx) {
  border-radius: $radius;
  @media screen and (max-width: 1640px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 1250px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 678px) {
    border-radius: $radius;
  }
}

@mixin classic-radius($radius: $twelvepx) {
  border-radius: $radius;
  @media screen and (max-width: 1640px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 1250px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 678px) {
    border-radius: $radius;
  }
}

@mixin big-radius($radius: $thirtypx) {
  border-radius: $radius;
  @media screen and (max-width: 1640px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 1250px) {
    border-radius: $fiftypx;
  }
  @media screen and (max-width: 678px) {
    border-radius: $fiftypx;
  }
}

@mixin mega-radius($radius: $eightypx) {
  border-radius: $radius;
  @media screen and (max-width: 1640px) {
    border-radius: $radius;
  }
  @media screen and (max-width: 1250px) {
    border-radius: $fiftypx;
  }
  @media screen and (max-width: 678px) {
    border-radius: $fiftypx;
  }
}
