.product-card-part {
  position: relative;
  background: color-mix(in srgb, var(--white), var(--white-light) 60%);
  min-height: calc(3 * $hundredpx + $eightypx);
  border-radius: 7px;
  border: 1px solid
    color-mix(in srgb, var(--bg-color-light), var(--white-light) 20%);
  box-shadow: 0 0 5px 0 var(--shadow-color);
  transition: 0.3s ease-in-out;

  .cover {
    border-radius: 7px 7px 0 0;
    background: var(--bg-color-special);
    height: calc(2 * $hundredpx + $thirtypx);
    overflow: hidden;
    user-select: none;
  }
  .content {
    border-radius: 0 0 7px 7px;
    height: max-content;
    padding: $twenty-fourpx;
    .name-and-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: $weight-semibold;
      .product-name {
      }
      .product-price {
        color: var(--bg-color-classic);
      }
    }
    .product-description {
      margin-top: $tenpx;
      font-size: 15px;
      line-height: 1.5;
    }
  }
  &:hover {
    box-shadow: $shadow;
    border-color: var(--bg-color-classic);
  }

  &.has-not-available {
    filter: grayscale(1);
    &::before {
      content: "Bientôt disponible !";
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: max-content;
      border-radius: 3.5px;
      padding: 0.5rem 1rem;
      background: var(--white-light);
    }
    &:hover {
      box-shadow: none;
      border: 1px solid
        color-mix(in srgb, var(--bg-color-light), var(--white-light) 20%);
    }
  }
}
