// apartments_list | Liste des appartements
.Apartments-list {
  background: var(--white);
  .container-zone {
    .label {
      @include classic-label;
      color: var(--bg-color-classic);
    }
    h2 {
      @include classic-h2;
      color: var(--bg-color-dark);
    }
    .description {
      color: var(--bg-color-classic);

      strong {
        color: var(--bg-color-dark);
      }
    }
    .label,
    h2,
    .description {
      max-width: 50%;
    }
  }
}
