.Contact-bloc {
  .container-zone {
    display: flex;
    gap: 5rem;
    padding-inline: calc(1.8 * $hundredpx);
    h2 {
      @include small-h2;
      color: var(--black);
    }
    .contact-forms-zone {
      width: 54%;
      .toggles-form-zone {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        li {
          cursor: pointer;
          font-size: medium;
          font-weight: $weight-regular;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding: 0.75rem 1rem;
          border: none;
          border-radius: 7px;
          transition: 0.3s ease;
          &:hover {
            background: #fdeccd97;
          }
          &.active {
            background: var(--bg-color-classic);
            color: var(--white);
            opacity: 1;
          }
        }
      }
      .forms-zone {
        .form {
          display: none;
          label {
            width: 100%;
            font-weight: $weight-medium;
            > span {
              display: block;
              width: 100%;
            }
          }
          input,
          textarea {
            border: 1px solid var(--grey-3);
            border-radius: 7px;
            padding: 0.5rem 1rem;
            background: var(--white-light);
            width: 100%;
            outline-color: var(--bg-color-classic);
            outline-offset: 3px;
            outline-width: 2px;
            transition: 0.3s ease;

            &.wpcf7-submit {
              background: var(--bg-color-classic);
              color: var(--white);
              border: none;
            }
          }
          select {
            border: 1px solid var(--grey-3);
            border-radius: 7px;
            padding: 0.5rem 1rem;
            background: var(--white-light);
            outline-color: var(--bg-color-classic);
            outline-offset: 3px;
            outline-width: 2px;
            transition: 0.3s ease;
          }
          .wpcf7-not-valid-tip {
            color: var(--bg-color-dark);
          }
          span {
            &[data-name="your-products"] {
              > span {
                display: flex;
                flex-direction: column;
                > span {
                  label {
                    display: flex;
                    flex-direction: row;
                    font-weight: $weight-light;
                    width: max-content;
                    cursor: pointer;
                    input {
                      width: max-content;
                      accent-color: var(--bg-color-dark);
                    }
                  }
                }
              }
            }
          }
          &.active {
            display: block;
            animation: fadeIn2 0.5s forwards;
          }
        }
      }
    }
    .infos-zone {
      width: 46%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .details {
        background: var(--bg-color-light);
        background: #fdeccd97;
        padding: 1.5rem;
        .intro {
          display: flex;
          gap: 2rem;
          .avatars-zone {
            margin-bottom: 1rem;
            .avatar {
              border-radius: 50%;
              height: 150px;
              width: 150px;
            }
          }
          .content {
            .title {
              font-weight: $weight-semibold;
            }
            .description {
            }
          }
        }
        .details-list {
          display: flex;
          flex-direction: column;
          font-size: $eighteenpx;
          padding: 1.5rem;
          border-radius: 7px;
          gap: 1rem;
          a,
          li {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            transition: 0.3s ease;

            .icon {
              height: 45px;
              width: 45px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: var(--bg-color-classic);
              color: var(--white-light);
            }
            .text {
              display: flex;
              flex-direction: column;
              .label {
                font-weight: $weight-regular;
              }
            }
            &:hover {
              color: var(--bg-color-classic);
              text-decoration: none;
            }
          }
        }
      }
      .follow-us {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .Contact-bloc {
    .container-zone {
      flex-direction: column;
      gap: 2rem;
      padding-inline: 4rem;
      .contact-forms-zone {
        width: 100%;
      }
      .infos-zone {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Contact-bloc {
    .container-zone {
      padding-inline: 1rem;
      .toggles-form-zone {
        overflow: scroll;
      }
      .infos-zone {
        .details {
          .intro {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
          }
          .details-list {
            margin-top: 2rem;
            padding: 0;
            li,
            a {
              gap: 1rem;
              .icon {
                font-size: $sixteenpx;
                height: $thirtypx;
                width: $thirtypx;
              }
              .text {
                font-size: $fourteenpx;
              }
            }
          }
        }
      }
    }
  }
}
