// reansurance | Réassurance
.Reansurance {
  background: var(--white-light);
  .container-zone {
    .label {
      @include big-label;
      color: var(--bg-color-dark);
    }
    h2 {
      @include big-h2;
      color: var(--bg-color-dark);
    }
    .reansurance-list {
      margin-top: calc($thirty-fivepx + $thirtypx);
      gap: $seventypx;
      text-align: center;
      &.one-column {
        @include auto-grid(1, 1, 1, 1);
      }
      &.two-columns {
        @include auto-grid(2, 2, 2, 1);
      }
      &.three-columns {
        @include auto-grid(3, 3, 2, 1);
      }
      &.four-columns {
        @include auto-grid(4, 4, 2, 1);
      }
      &.five-columns {
        @include auto-grid(5, 4, 2, 1);
      }
      .reansurance-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $twentypx;
        .icon {
          max-width: calc($thirty-fivepx + $thirtypx);
          height: calc($thirty-fivepx + $thirtypx);
        }
      }
    }
  }
}
